@import "tailwindcss";

:root {
  --primary: #8e3a1f;
  --primary-light: #ffb59f;
  --secondary: #2d472c;
  --tertiary: #56361b;
  --neutral: #f9f5f0;
  --primary-bg: #fdf9f4;
  --secondary-bg: rgb(247 243 238);
  --accent: #a67b5b;
}

.noto-serif {
  font-family: "Noto Serif", serif;
}

.vietnam-pro {
  font-family: "Be Vietnam Pro", sans-serif;
}

.inabel-pattern {
  background-image:
    repeating-linear-gradient(
      45deg,
      transparent,
      transparent 10px,
      currentColor 10px,
      currentColor 11px
    ),
    repeating-linear-gradient(
      -45deg,
      transparent,
      transparent 10px,
      currentColor 10px,
      currentColor 11px
    );
}

.banig-pattern {
  background-image:
    linear-gradient(
      30deg,
      #e6e2dd 12%,
      transparent 12.5%,
      transparent 87%,
      #e6e2dd 87.5%,
      #e6e2dd
    ),
    linear-gradient(
      150deg,
      #e6e2dd 12%,
      transparent 12.5%,
      transparent 87%,
      #e6e2dd 87.5%,
      #e6e2dd
    ),
    linear-gradient(
      30deg,
      #e6e2dd 12%,
      transparent 12.5%,
      transparent 87%,
      #e6e2dd 87.5%,
      #e6e2dd
    ),
    linear-gradient(
      150deg,
      #e6e2dd 12%,
      transparent 12.5%,
      transparent 87%,
      #e6e2dd 87.5%,
      #e6e2dd
    ),
    linear-gradient(
      60deg,
      #e6e2dd77 25%,
      transparent 25.5%,
      transparent 75%,
      #e6e2dd77 75%,
      #e6e2dd77
    ),
    linear-gradient(
      60deg,
      #e6e2dd77 25%,
      transparent 25.5%,
      transparent 75%,
      #e6e2dd77 75%,
      #e6e2dd77
    );
  background-color: #fdf9f4;
  background-size: 40px 70px;
  background-position:
    0 0,
    0 0,
    20px 35px,
    20px 35px,
    0 0,
    20px 35px;
  opacity: 0.15;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.banig-background {
  background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h20v20H0V0zm20 20h20v20H20V20z' fill='%23A67B5B' fill-opacity='0.08'/%3E%3C/svg%3E");
}

.slick-track {
  display: flex !important;
}

.slick-slide {
  height: auto !important;
}

.slick-slide > div {
  height: 100%;
}