@import "tailwindcss";

:root {
  --primary: #8e3a1f;
  --primary-light: #ffb59f;
  --secondary: #2d472c;
  --tertiary: #56361b;
  --neutral: #f9f5f0;
  --primary-bg: #fdf9f4;
  --secondary-bg: rgb(247 243 238);
  --accent: #a67b5b;
}

.inabel-pattern {
  background-image:
    repeating-linear-gradient(
      45deg,
      transparent,
      transparent 10px,
      currentColor 10px,
      currentColor 11px
    ),
    repeating-linear-gradient(
      -45deg,
      transparent,
      transparent 10px,
      currentColor 10px,
      currentColor 11px
    );
}

.banig-pattern {
  background-image:
    linear-gradient(
      30deg,
      #e6e2dd 12%,
      transparent 12.5%,
      transparent 87%,
      #e6e2dd 87.5%,
      #e6e2dd
    ),
    linear-gradient(
      150deg,
      #e6e2dd 12%,
      transparent 12.5%,
      transparent 87%,
      #e6e2dd 87.5%,
      #e6e2dd
    ),
    linear-gradient(
      30deg,
      #e6e2dd 12%,
      transparent 12.5%,
      transparent 87%,
      #e6e2dd 87.5%,
      #e6e2dd
    ),
    linear-gradient(
      150deg,
      #e6e2dd 12%,
      transparent 12.5%,
      transparent 87%,
      #e6e2dd 87.5%,
      #e6e2dd
    ),
    linear-gradient(
      60deg,
      #e6e2dd77 25%,
      transparent 25.5%,
      transparent 75%,
      #e6e2dd77 75%,
      #e6e2dd77
    ),
    linear-gradient(
      60deg,
      #e6e2dd77 25%,
      transparent 25.5%,
      transparent 75%,
      #e6e2dd77 75%,
      #e6e2dd77
    );
}
